@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Open+Sans&display=swap");

/*--------------------------
    Global Styles
--------------------------*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	width: 100%;
}

body,
input#date,
textarea#comment {
	font-family: "Open Sans", trebuchet, courier, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	overflow-x: hidden;
}

main {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-family: "Comfortaa", helvetica, verdana, sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 1.2rem;
	color: #000;
	text-shadow: 2px 2px 4px rgba(121, 242, 119, 0.8);
	background: rgba(252, 252, 252, 0.4);
	margin: 2rem auto 0;
	padding: 1.5rem 0 1rem 1rem;
}

h2 {
	font-family: "Comfortaa", helvetica, verdana, sans-serif;
	font-weight: 300;
	text-decoration: underline;
}
a h3 {
	font-weight: 300;
	font-size: 1rem;
	color: #000;
	text-shadow: 0.02em 0.02em 0.06em #fcfcfc;
	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	padding: 0.2rem 0;
	position: absolute;
	left: 50%;
	bottom: -2rem;
	transform: translate(-50%, -50%);
}

a,
h2,
.footerSocialMedia ul li a {
	color: #000;
	text-shadow: 0.02em 0.02em 0.06em #fcfcfc;
}
a,
.footerSocialMedia ul li a {
	text-decoration: none;
}
.footerSocialMedia ul li a {
	font-size: 2.5rem;
}

a:hover,
button:hover,
.footerSocialMedia ul li a:hover {
	color: #fcfcfc;
	text-decoration: underline;
	text-decoration-color: #fcfcfc;
	cursor: pointer;
}
a:active,
button:active,
.footerSocialMedia ul li a:active {
	color: #000;
	text-decoration-color: #000;
}
.dropdown-content a:hover {
	background-color: #000;
}
.dropdown-content a:active,
.current-page,
button:focus {
	color: #fcfcfc;
	text-shadow: 0.02em 0.02em 0.05em #fcfcfc;
	text-decoration: underline;
}

.fas.fa-chevron-down,
.fas.fa-chevron-right,
.fas.fa-route,
.fas.fa-arrow-alt-circle-down,
.fas.fa-arrow-alt-circle-up {
	padding-left: 0.5rem;
}

p {
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

input#navSearch,
input#navSearchMain {
	line-height: 2.5rem;
	min-width: 150px;
	max-width: 180px;
	margin: 0.5rem 0.25rem;
	padding-left: 0.75rem;
	border-radius: 10px;
}
input#navSearch:active {
	color: #000000;
}

header {
	width: 100%;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	margin: 0;
	padding: 0;
	min-height: 150px;
	position: relative;
	border-bottom: 6px ridge#fcfcfc;
}

.logo-hamburger-container {
	width: 100%;
	padding-right: 1rem;
	position: relative;
	display: flex;
	flex-flow: row-reverse nowrap;
}
.logo-wrap {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	width: 50%;
}
.logo-img {
	width: 100%;
	min-width: 100px;
	max-width: 120px;
}
.menu-wrap {
	width: 15%;
}
.horisontal-top-menu {
	display: none;
}
.horisontal-main-nav {
	display: none;
}

#headerMenu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menuToggle {
	display: flex;
	padding: 1.5rem;
	flex-flow: wrap;
	justify-content: center;
	flex: 1;
}

.hamburgerMenu:target {
	display: block;
	right: 0;
	outline: none;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

.hamburgerMenu {
	position: absolute;
	display: none;
	right: -200px;
	top: 0;
	height: 100%;
	overflow-y: visible;
	overflow-x: visible;
	transition: right 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
}

.hamburgerMenu:target + .backdrop {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	cursor: default;
}
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hamburgerMenu:target,
.mainMenuClose {
	z-index: 1001;
}
.hamburgerMenu,
.mainMenuClose {
	position: absolute;
	right: 0;
	top: 0;
}
.hamburgerMenu a,
.dropdown-content a {
	display: block;
	padding: 0.75em 15px;
	line-height: 1.2em;
	border-bottom: 1px solid #fff;
}

.hamburgerMenu:target ul {
	position: relative;
	z-index: 1000;
}
.hamburgerMenu ul {
	list-style: none;
	margin: 0;
	padding: 4rem 0 0;
	-webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
	box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
	min-height: 100%;
	width: 190px;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
}

.fas.fa-bars,
.fas.fa-times,
.fas.fa-arrow-alt-circle-down,
.fas.fa-arrow-alt-circle-up {
	font-size: 2.5rem;
}

.fas.fa-bars,
.fas.fa-times,
.fas.fa-arrow-alt-circle-down,
.fas.fa-arrow-alt-circle-up,
.far.fa-envelope,
.far.fa-comment-dots {
	text-shadow: 0.02em 0.02em 0.05em #fcfcfc;
}

.headerFlexContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.main-section-wrap {
	height: 100%;
	min-height: 600px;
	background-image: url(http://betheicon.no/re-cycle/images/re-cycle_home-page_background_w320_h600.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.dropdown-content-wrap {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.dropdown-button,
.view-map-button {
	width: 100%;
	min-width: 180px;
	max-width: 240px;
	height: 44px;
	margin: 2rem auto 0;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	color: #000;
	text-shadow: 0.02em 0.02em 0.06em #fcfcfc;
	border: 1px solid #fcfcfc;
	border-radius: 10px;
	font-size: 1rem;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

#dropdown-view-tours-container {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	left: 2rem;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	min-width: 220px;
	overflow: auto;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
	z-index: 101;
	font-size: 0.8rem;
}
.show-dropdown {
	display: block;
}
#aboutUs {
	background: url(http://betheicon.no/re-cycle/images/bsckground-image_re-cycle_about-us_planet-tree_1920x600.jpg)
		top no-repeat;
	width: 100%;
}

#contactUs {
	background: url(http://betheicon.no/re-cycle/images/background-img_re-cycle_logo_contact-us_1920x600.jpg)
		top no-repeat;
	width: 100%;
}

#contactUs h1,
#aboutUs h1 {
	padding-left: 2rem;
}

.contactUsInfo,
.aboutText {
	width: 80%;
	max-width: 700px;
	margin: 1rem auto 10rem;
	background-color: rgba(255, 255, 255, 0.6);
}

.iframeContainer {
	width: 100%;
	min-height: 450px;
	margin: 2rem auto;
	position: relative;
	text-align: center;
}

.tourMap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 600px;
	min-height: 450px;
	border: 1px ridge #000;
	margin: 0 auto;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

#bookATour {
	margin: -30rem auto 27rem;
}

#bookATour,
#bookATour-our-tours,
#booking-button {
	padding: 1.5rem 0;
	max-width: 340px;
	width: 100%;
}
#bookATour,
#bookATour-our-tours,
.back-to-top-button,
#booking-button {
	background: rgba(97, 213, 95, 0.9);
	border-radius: 10px;
	text-align: center;
	border: 1px solid #fcfcfc;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

#bookATour:hover,
#bookATour-our-tours:hover,
.back-to-top-button:hover,
#booking-button:hover {
	background: #fff;
	border: 1px solid #000;
	color: #000;
}
#bookATour a:hover,
#bookATour-our-tours a:hover,
.back-to-top-button a:hover {
	color: #000;
}
#bookATour a:active,
#bookATour-our-tours a:active,
.back-to-top-button a:active {
	color: rgba(97, 213, 95, 1);
}
#bookATour:active,
#bookATour-our-tours:active,
.back-to-top-button:active,
#booking-button:active {
	color: rgba(97, 213, 95, 1);
	border: 1px solid rgba(97, 213, 95, 1);
}
#bookATour-our-tours {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 1rem auto;
}
main#our-tours-page,
main#map-of-our-tours,
main#homepage-content {
	padding-bottom: 10rem;
	position: relative;
	height: 100%;
	width: 100%;
}

.headerOurTours {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#contentWrapOurToursHeader {
	max-width: 100%;
	text-align: center;
	width: 100%;
	padding: 0.1rem 0;
	background-color: rgb(255, 120, 0);
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	border-bottom: 6px ridge#fcfcfc;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

.ourToursImageGrid {
	display: grid;
	grid-template-columns: 1fr;
	width: 90%;
	margin: 3rem auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.ourToursImageGrid a {
	max-width: 360px;
	min-width: 320px;
	width: 100%;
	min-height: 260px;
	margin: 1rem auto;
	border-bottom: 6px ridge#fcfcfc;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

#anotherDaySunriseTour,
#beautifulSunsetTour,
#downTownTour,
#oldCityTour,
#romanticAttractionsTour,
#scenicMountainTour,
#roadLessTraveledTour,
#selfieTour,
#funWithTheKidsShortTour,
#funWithTheKidsLongTour {
	position: relative;
}

#anotherDaySunriseTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Another-Day-Sunrise-Tour_sm.jpg)
		no-repeat left;
}
#beautifulSunsetTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Beautiful-Sunset-Tour_sm.jpg)
		no-repeat left;
}

#downTownTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Going-Down-Town-Tour_sm.jpg)
		no-repeat left;
}
#oldCityTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Old-City-Tour_sm.jpg)
		no-repeat left;
	background-size: cover;
}
#romanticAttractionsTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Romantic-Must-See-Attractions-Tour_sm.jpg)
		no-repeat left;
}
#scenicMountainTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Scenic-Mountain-Tour_sm.jpg)
		no-repeat left;
}

#roadLessTraveledTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Take-The-Road-Less-Traveled-Tour_sm.jpg)
		no-repeat left;
}
#selfieTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Beautiful-Sunset-Tour_sm.jpg)
		no-repeat left;
}
#funWithTheKidsShortTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Have-Fun-With-The-Kids-Tour-Short_sm.jpg)
		no-repeat left;
}
#funWithTheKidsLongTour {
	background: url(http://betheicon.no/re-cycle/images/The-Always-Have-Fun-With-The-Kids-Tour_sm.jpg)
		no-repeat left;
}

/*--------------- Booking Form -------------*/
#booking-form .form-note,
.far.fa-envelope,
.far.fa-comment-dots,
#choose-guide-block label {
	color: #000;
	font-size: 0.9rem;
}

#booking-form .note {
	color: #fff;
	text-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5);
	font-size: 0.8rem;
}

.booking-form-container {
	max-width: 700px;
	margin: 1rem auto 6rem;
	border: 1px solid #000;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

#booking-form {
	padding: 3rem 2rem 10rem;
	background-color: rgb(255, 120, 0);
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	position: relative;
}

#booking-form input {
	width: 100%;
	max-width: 450px;
	margin-top: 2px;
	padding: 10px;
	display: block;
}

#booking-form label {
	display: block;
	margin-top: 1rem;
}

textarea#comment {
	width: 100%;
	min-height: 150px;
	max-width: 500px;
	display: block;
	padding: 1rem 0.5rem;
	line-height: 1.6rem;
	margin-bottom: 0.5rem;
	text-align: left;
}

#booking-button {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.1rem;
}
#choose-guide-block-container {
	margin: 3rem auto;
}

#choose-guide-block {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	align-items: center;
	justify-content: left;
}
#choose-guide-block label {
	margin: 0;
	text-decoration: underline;
}
input#guide,
input#no-guide {
	width: auto;
	max-width: 450px;
	padding: 0;
	margin: 0 0.5rem 0 4rem;
}

#select-tour-dropdown,
input#date {
	padding: 0.6rem 1rem;
	width: 100%;
	max-width: 450px;
	cursor: pointer;
}
#select-tour-dropdown option {
	background-color: rgb(255, 120, 0);
	background-image: linear-gradient(-90deg, #ff7800 40%, #efaa48 100%);
}

.form-error {
	display: none;
	font-size: 0.8rem;
	font-weight: 600;
	background: rgba(252, 252, 252, 1);
	border: 2px ridge rgb(233, 4, 4);
	color: rgb(187, 3, 3);
	width: 85%;
	margin-top: 0.5rem;
	padding: 0.2rem;
}

.errorMessage,
.validationErrorMessage {
	border: 4px ridge rgb(233, 4, 4);
	color: rgb(187, 3, 3);
}
.errorMessage,
.validationErrorMessage,
.successMessage {
	background: rgba(252, 252, 252, 1);
	padding: 1.5rem 2rem;
	margin: 2rem auto;
	width: 90%;
	max-width: 600px;
}

.successMessage {
	border: 4px ridge rgb(0, 185, 0);
	color: rgb(2, 94, 29);
}

/*----------------------- End Booking Form -------------*/

/*---------------------------
    Footer Styles
---------------------------*/

footer {
	width: 100%;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	padding: 2rem 1rem 6rem;
	margin: 5rem auto 0;
	text-align: left;
	border-top: 6px ridge #fcfcfc;
	position: relative;
}

.footerFlexContainer {
	width: 95%;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content: left;
	margin: 0 auto 3rem;
}

.footerCol1,
.footerCol2,
.footerCol3 {
	text-align: left;
}

.footerCol1 h2,
.footerCol2 h2,
.footerCol3 h2 {
	margin: 3rem 0 0.5rem;
}

.footerCol1 ul,
.footerCol2 ul,
.footerCol3 ul,
.footerSocialMedia ul {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.footerCol1 ul li,
.footerCol2 ul li,
.footerCol3 ul li {
	padding: 0.3rem 0;
}

.back-to-top-button {
	width: 100%;
	min-width: 160px;
	max-width: 200px;
	padding: 0.5rem 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

#backToTopLink {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

.copyright {
	max-width: 95%;
	margin-top: 2rem;
}

.footerSocialMedia ul {
	display: flex;
	flex-flow: row nowrap;
	padding: 0;
	margin: 0 auto;
	font-size: 1.5rem;
	width: 100%;
	justify-content: space-evenly;
	align-content: center;
}

.footerBottomLine {
	display: flex;
	flex-flow: column-reverse nowrap;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-content: flex-end;
}

/*---------------------------
    @Media Styles 
---------------------------*/

@media screen and (max-width: 319px) {
	#bookATour {
		margin: -15rem auto 14rem;
	}
	.ourToursImageGrid a {
		min-width: 240px;
	}
}

@media screen and (min-width: 320px) {
	.main-section-wrap {
		min-height: 800px;
		background-image: url(http://betheicon.no/re-cycle/images/re-cycle_home-page_background_w600_h800.jpg);
	}
}

@media screen and (min-width: 400px) {
	.footerFlexContainer {
		justify-content: space-between;
	}

	.footerBottomLine {
		width: 70%;
		justify-content: left;
		margin-left: 0;
	}
	.footerSocialMedia ul {
		justify-content: left;
	}

	.footerSocialMedia ul li {
		padding-right: 3rem;
	}
}

@media screen and (min-width: 600px) {
	h1 {
		text-align: center;
		background: none;
		padding: 2rem;
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.2rem;
	}

	.logo-wrap {
		width: 15%;
	}
	#headerMenu {
		display: none;
	}
	.horisontal-top-menu {
		display: contents;
		width: 50%;
	}
	.horisontal-top-menu ul {
		display: flex;
		flex-flow: row nowrap;
		list-style: none;
		position: absolute;
		top: 0;
		right: 3rem;
		width: 40%;
		justify-content: space-between;
		align-items: flex-end;
	}
	.horisontal-top-menu ul li {
		border-left: 1px solid #000000;
		padding-left: 0.5rem;
		font-size: 0.8rem;
	}
	.horisontal-main-nav {
		display: contents;
		text-align: center;
	}

	.horisontal-main-nav ul {
		font-size: 0.9rem;
		display: flex;
		flex-flow: row nowrap;
		list-style: none;
		position: absolute;
		bottom: 1rem;
		right: 0;
		width: 80%;
		justify-content: space-evenly;
		align-items: flex-end;
		margin: 0;
		padding: 0;
	}
	.horisontal-main-nav ul li {
		padding-right: 0.5rem;
	}

	input#navSearchMain {
		margin: 0;
		-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
		box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	}

	.main-section-wrap {
		min-height: 282px;
		background-image: url(http://betheicon.no/re-cycle/images/re-cycle_home-page_background_w800_h282.jpg);
	}
	#bookATour {
		margin: 3rem auto;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em 1em;
	}
	.ourToursImageGrid a {
		min-width: 240px;
	}

	.footerCol1,
	.footerCol2,
	.footerCol3 {
		width: 30%;
	}
}

/* Tablets - mobile landscape - Styles */

@media screen and (min-width: 800px) {
	.logo-img {
		max-height: 100px;
	}
	.horisontal-main-nav ul {
		font-size: 1rem;
	}

	.main-section-wrap {
		min-height: 361px;
		background-image: url(http://betheicon.no/re-cycle/images/re-cycle_home-page_background_w1024_h361.jpg);
	}

	.footerFlexContainer {
		justify-content: space-evenly;
		align-items: center;
		width: 90%;
	}
	.footerCol1,
	.footerCol2,
	.footerCol3 {
		width: 20%;
	}

	.footerBottomLine {
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		width: 95%;
		margin: 0 auto;
	}

	.copyright {
		width: 55%;
	}
	.footerSocialMedia {
		width: 30%;
		justify-content: right;
		align-content: flex-end;
	}
}

/* Laptop - tablet landscape - Styles */

@media screen and (min-width: 1000px) {
	header {
		min-height: 150px;
	}

	.logo-img {
		max-height: 120px;
	}

	.logo-wrap {
		left: 4rem;
	}
	.horisontal-top-menu ul {
		width: 30%;
	}

	.main-section-wrap {
		min-height: 677px;
		background-image: url(http://betheicon.no/re-cycle/images/re-cycle_home-page_background_w1920_h677.jpg);
	}

	#bookATour {
		margin: -20rem auto 19rem;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}
}

/* Laptop - Desktop - Styles */

@media screen and (min-width: 1200px) {
	.horisontal-main-nav ul li {
		font-size: 1.2rem;
	}
}
