@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Open+Sans&display=swap");

/*--------------------------
    Global Styles
--------------------------*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	background: #f2f2f2;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Open Sans", trebuchet, courier, sans-serif;
}

main {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Comfortaa", helvetica, verdana, sans-serif;
	font-weight: 600;
	font-size: 3em;
	color: #1eb667;
	text-shadow: 0.01em 0.01em 0.01em #000;
}

h2 {
	font-family: "Comfortaa", helvetica, verdana, sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	text-decoration: underline;
}

h3 a {
	color: #fff;
}

p {
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

a {
	color: #000;
}

a:hover {
	color: #000;
	text-shadow: 1px 1px 0.5 #000;
	padding: 0.5em;
}

a:active {
	color: #79f277;
	border: 2px solid #79f277;
}

/*------------------------------
    Header Styles
------------------------------*/

/*Header*/

header {
	width: 100%;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	margin: 0;
	padding: 0;
}

.logo-container img {
	width: 100%;
	padding: 1.5rem;
	min-width: 200px;
	max-width: 300px;
}

i.fab {
	color: #ffffff;
	padding: 0.1em 0.1em 0 0.1em;
}

.headerCol1 {
	min-width: 15%;
	padding: 0.5em 0.5em 0.5 0.5em;
}
.headerCol2 {
	max-width: 40%;
}
.headerCol3 {
	min-width: 30%;
	padding: 1.2em 0.5em 0 2em;
}

.headerFlexContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

/* Header Navigational Styles */
#hamburgerMenu {
	position: relative;
}
#hamburgerMenu:checked ~ nav.topMenu {
	position: absolute;
	float: right;
	display: block;
	background-color: #ff7800;
	width: 200px;
}


.footerFlexContainer {
	text-align: center;
	padding: 2em 1.5em 5em 1.5em;
}
}

#contactMenu {
	display: none;
	position: relative;
}
#contactMenu:checked ~ nav.navContactUs {
	position: absolute;
	display: block;
	background-color: #ff7800;
	width: 8em;
}

nav.navContactUs {
	display: none;
}

.navContactUs ul li {
	padding-top: 0.4em;
	list-style: none;
}

#navSearchLabel {
	margin-left: -1.5em;
}
#navSearchLabel:hover {
	color: #fff;
}

.topMenu ul li {
	list-style: none;
	line-height: 2em;
	padding-top: 0.4em;
}

nav ul li a {
	color: #000000;
	line-height: 2em;
	text-decoration: none;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li a:active {
	color: #1eb667;
}

/*------------------------------
    Main Styles
------------------------------*/

.topPresentation {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: center;
	padding: 1em 0;
	margin-bottom: 0;
}

.topPresentation a:hover {
	border: 2px solid #000;
}

.topPresentation a:active {
	border: 2px solid #1eb667;
}

.topTextPresentation {
	width: 60%;
	text-align: left;
}

.aboutP {
	max-width: 85%;
	margin: 0 auto;
	padding-top: 10em;
	padding-bottom: 30em;
	background-color: rgba(255, 255, 255, 0.8);
}
.aboutUs {
	background: url(images/bsckground-image_re-cycle_about-us_planet-tree.png)
		center no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 800px;
	margin-top: 5em;
}

.contactUs {
	background: url(images/background-img_re-cycle_logo_contact-us.png) center
		no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 800px;
	margin-top: 5em;
}

.contactUsInfo {
	max-width: 90%;
	margin: 0 auto;
	padding-top: 10em;
	padding-bottom: 30em;
	background-color: rgba(255, 255, 255, 0.9);
}

.iframeContainer {
	position: relative;
	overflow: hidden;
	margin: 10em auto;
	padding-top: 60%;
}

.tourMap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
}

.mainSectionHome {
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0)),
		url(images/re-cycle_home-page-hero-img.jpg);
	background-position: center;
	background-size: cover;
	height: 600px;
	margin: 1em auto;
}
.mainSectionHome .viewToursDropDown {
	margin: 0 auto;
	text-align: center;
	padding-top: 4em;
}

.mainSectionHome .viewToursDropDown ul {
	position: 3elative;
}

#tours {
	background: #fff;
	display: none;
}

#tours:checked ~ nav.viewTours {
	display: block;
	background-color: rgba(255, 255, 255, 1);
	min-height: 500px;
	padding-top: 1em;
}

.dropDownContentWrap {
	background: #fff;
	max-width: 360px;
	margin: 1em auto 0;
	padding-bottom: 0.5em;
	border: 2px solid #1eb667;
}

.fa-sort-down {
	margin: -0.2em 0.5em 0 0;
}

.fa-sort-down:hover {
	color: #79f277;
}

nav.viewTours {
	display: none;
}

nav.viewTours ul li {
	list-style: none;
	position: relative;
}

.viewTours ul {
	width: 100%;
	padding-bottom: 2em;
}

.viewTours ul li {
	padding-bottom: 1em;
}

.viewTours li {
	float: center;
}

.viewTours ul li a:hover {
	color: #000;
	border: 1px solid #000;
	background: rgba(121, 242, 119, 0.8);
}

#viewToursMap {
	padding: 1em 0;
	max-width: 360px;
	margin: 0 auto;
	background: #fff;
	border: 2px solid #1eb667;
	text-align: center;
	margin-top: 2em;
}

#viewToursMap a:hover {
	color: #000;
	border: 1px solid #000;
	background: rgba(121, 242, 119, 0.8);
}
#viewToursMap a:active {
	color: #27f778;
	background: none;
}

#bookATour {
	padding: 2em 0;
	max-width: 360px;
	margin: 0 auto;
	background: rgba(121, 242, 119, 0.8);
	border: 2px solid #000000;
	text-align: center;
	margin-top: 2em;
}

#bookATour a:hover {
	background: #fff;
	border: 1px solid #000;
}
#bookATour a:active {
	color: #27f778;
	border: none;
}

.headerOurTours {
	color: #1eb667;
	text-shadow: 0.01em 0.01em 0.01em #000;
}

#contentWrapOurToursHeader {
	max-width: 100%;
	border-top: 0.5em solid #ff7800;
	border-bottom: 0.5em solid #ff7800;
	margin: 30em 0 6em 0;
	text-align: center;
}

.ourToursImageGrid {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

#anotherDaySunriseTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Another-Day-Sunrise-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

#beautifulSunsetTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Beautiful-Sunset-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

#downTownTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Going-Down-Town-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#oldCityTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Old-City-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#romanticAttractionsTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Romantic-Must-See-Attractions-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#scenicMountainTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Scenic-Mountain-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

#roadLessTraveledTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Take-The-Road-Less-Traveled-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#selfieTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Beautiful-Sunset-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#funWithTheKidsShortTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Have-Fun-With-The-Kids-Tour-Short_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#funWithTheKidsLongTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Have-Fun-With-The-Kids-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

/*---------------------------
    Footer Styles 
---------------------------*/

/* Footer */

footer {
	background-color: #ff7800;
	overflow: hidden;
	padding: 0.5em 0;
	margin-top: 15em;
}

footer nav ul {
	list-style: none;
}

#backToTopLink {
	font-size: 1.5em;
	margin-bottom: 5em;
	padding: 1.5em;
}

#backToTopLink a:hover {
	color: #fff;
}

.copyright {
	max-width: 70%;
	line-height: 1.6em;
	padding: 1em 2em 1em 1em;
}

.footerSocialMedia {
	min-width: 30%;
	padding-left: 0.5;
}

.footerBottomLine {
	display: flex;
	justify-content: flex-end;
	max-width: 95%;
}

.footerFlexContainer {
	justify-content: center;
	padding: 2em 1.5em 5em 1.5em;
}

/*---------------------------
    @Media Styles 
---------------------------*/


@media screen and (min-width: 400px) {

@media screen and (min-width: 680px) {

	.topTextPresentation {
		width: 60%;
		margin-left: 2em;
		text-align: left;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		text-align: center;
		padding: 2em 1.5em 5em 1.5em;
	}
}

/* Tablets - mobile landscape - Styles */

@media screen and (min-width: 800px){
	#hamburgerMenu {
		display: none;

	.topTextPresentation {
		width: 60%;
		margin-left: 3em;
		text-align: center;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 2em 1.5em 5em 1.5em;
	}
}

/* Laptop - tablet landscape - Styles */

@media screen and (min-width: 1000px){


	.headerCol2 {
		order: 1;
		padding: 0;
		justify-content: flex-start;
	}

	.headerCol1 {
		max-width: 100%;
		order: 2;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.headerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	nav.topMenu li {
		text-align: left;
		display: inline-block;
		max-width: 100%;
		margin: 0 1em;
		padding: 0;
	}

	.headerCol3 {
		display: none;
		max-width: 0;
		max-height: 0;
	}
	.topTextPresentation {
		width: 60%;
		text-align: center;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 2em 1.5em 5em 1.5em;
	}
}

/* Laptop - Desktop - Styles */

@media screen and (min-width: 1200px) {

	.headerCol2 {
		float: left;
		order: 1;
		padding-left: 1.5em;
		justify-content: flex-start;
	}

	.headerCol1 {
		max-width: 100%;
		order: 2;
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	.headerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	}

	nav.topMenu li {
		text-align: left;
		display: inline-block;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	.headerCol3 {
		display: none;
		max-width: 0;
		max-height: 0;
	}
	.topTextPresentation {
		width: 60%;
		margin-left: 5em;
		text-align: center;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 2em 1.5em 5em 1.5em;
	}
}
