@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&family=Open+Sans&display=swap");

/*--------------------------
    Global Styles
--------------------------*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Open Sans", trebuchet, courier, sans-serif;
}

main {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Comfortaa", helvetica, verdana, sans-serif;
	font-weight: 600;
	font-size: 2rem;
	color: #fff;
	text-shadow: 0.01em 0.01em 0.01em #c9c9c9;
	margin: 0 auto;
	padding: 2rem 0 2rem 1rem;
}

h2 {
	font-family: "Comfortaa", helvetica, verdana, sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	text-decoration: underline;
}

h3 a {
	color: #fff;
}

a {
	color: #000;
	text-shadow: 0.02em 0.02em 0.06em #fcfcfc;
	text-decoration: none;
}

a:hover {
	color: #fcfcfc;
	text-decoration: underline;
	text-decoration-color: #fcfcfc;
}
a:active {
	color: #000;
	text-decoration-color: #000;
}

p {
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}
.current-page {
	color: #fcfcfc;
	text-shadow: 0.02em 0.02em 0.05em #fcfcfc;
	text-decoration: underline;
}

input#navSearch,
input#navSearchMain {
	line-height: 2.5rem;
	width: 180px;
	margin: 0.5rem 0.25rem;
	padding-left: 0.75rem;
	border-radius: 6%;
}
input#navSearch:active {
	color: #000000;
}

/*------------------------------
    Header Styles
------------------------------*/

header {
	width: 100%;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	margin: 0;
	padding: 0;
	min-height: 220px;
	position: relative;
}

.logo-hamburger-container {
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: row-reverse nowrap;
}
.logo-wrap {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	width: 80%;
}
.logo-img {
	width: 100%;
	min-width: 100px;
	max-width: 150px;
}
.menu-wrap {
	width: 15%;
}
.horisontal-top-menu {
	display: none;
}
.horisontal-main-nav {
	display: none;
}

#headerMenu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menuToggle {
	display: flex;
	padding: 1.5rem;
	flex-flow: wrap;
	justify-content: center;
	flex: 1;
}

.hamburgerMenu:target {
	display: block;
	right: 0;
	outline: none;
	-webkit-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
	box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
}

.hamburgerMenu {
	position: absolute;
	display: none;
	right: -200px;
	top: 0;
	height: 100%;
	overflow-y: visible;
	overflow-x: visible;
	transition: right 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
}

.hamburgerMenu:target + .backdrop {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
	cursor: default;
}
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hamburgerMenu:target,
.mainMenuClose {
	z-index: 1001;
}
.hamburgerMenu,
.mainMenuClose {
	position: absolute;
	right: 0;
	top: 0;
}
.hamburgerMenu a {
	display: block;
	padding: 0.75em 15px;
	line-height: 1.2em;
	border-bottom: 1px solid #fff;
}

.hamburgerMenu:target ul {
	position: relative;
	z-index: 1000;
}
.hamburgerMenu ul {
	list-style: none;
	margin: 0;
	padding: 4rem 0 0;
	-webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
	box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
	min-height: 100%;
	width: 190px;
	background-color: #ff7800;
	background-image: linear-gradient(90deg, #ff7800 40%, #efaa48 100%);
}

.fas.fa-bars,
.fas.fa-times {
	font-size: 2.4rem;
	text-shadow: 0.02em 0.02em 0.05em #c9c9c9;
}

.headerFlexContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.main-section-wrap {
	height: 100%;
	min-height: 700px;
	background-image: url(/images/re-cycle_home-page-hero-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footerFlexContainer {
	text-align: center;
	padding: 2em 1.5em 5em 1.5em;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li a:active {
	color: #1eb667;
}

/*------------------------------
    Main Styles
------------------------------*/

.aboutP {
	max-width: 85%;
	margin: 0 auto;
	padding-top: 10em;
	padding-bottom: 30em;
	background-color: rgba(255, 255, 255, 0.8);
}
.aboutUs {
	background: url(images/bsckground-image_re-cycle_about-us_planet-tree.png)
		center no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 800px;
	margin-top: 5em;
}

.contactUs {
	background: url(images/background-img_re-cycle_logo_contact-us.png) center
		no-repeat;
	background-size: cover;
	max-width: 100%;
	min-height: 800px;
	margin-top: 5em;
}

.contactUsInfo {
	max-width: 90%;
	margin: 0 auto;
	padding-top: 10em;
	padding-bottom: 30em;
	background-color: rgba(255, 255, 255, 0.9);
}

.iframeContainer {
	position: relative;
	overflow: hidden;
	margin: 10em auto;
	padding-top: 60%;
}

.tourMap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
}

.mainSectionHome .viewToursDropDown {
	margin: 0 auto;
	text-align: center;
	padding-top: 4em;
}

#tours {
	display: none;
}

#tours:checked ~ nav.viewTours {
	display: block;
	background-color: rgba(255, 255, 255, 1);
	min-height: 500px;
	padding-top: 1em;
}

.dropDownContentWrap {
	max-width: 360px;
	margin: 1em auto 0;
	padding-bottom: 0.5em;
	border: 2px solid #1eb667;
}

.fa-sort-down {
	margin: -0.2em 0.5em 0 0;
}

.fa-sort-down:hover {
	color: #79f277;
}

nav.viewTours {
	display: none;
}

nav.viewTours ul li {
	list-style: none;
	position: relative;
}

.viewTours ul {
	width: 100%;
	padding-bottom: 2em;
}

.viewTours ul li {
	padding-bottom: 1em;
}

.viewTours li {
	float: center;
}

.viewTours ul li a:hover {
	color: #000;
	border: 1px solid #000;
	background: rgba(121, 242, 119, 0.8);
}

#viewToursMap {
	padding: 1em 0;
	max-width: 360px;
	margin: 0 auto;
	background: #fff;
	border: 2px solid #1eb667;
	text-align: center;
	margin-top: 2em;
}

#viewToursMap a:hover {
	color: #000;
	border: 1px solid #000;
	background: rgba(121, 242, 119, 0.8);
}
#viewToursMap a:active {
	color: #27f778;
	background: none;
}

#bookATour {
	padding: 2em 0;
	max-width: 360px;
	margin: 0 auto;
	background: rgba(121, 242, 119, 0.8);
	border: 2px solid #000000;
	text-align: center;
	margin-top: 2em;
}

#bookATour a:hover {
	background: #fff;
	border: 1px solid #000;
}
#bookATour a:active {
	color: #27f778;
	border: none;
}

.headerOurTours {
	color: #1eb667;
	text-shadow: 0.01em 0.01em 0.01em #000;
}

#contentWrapOurToursHeader {
	max-width: 100%;
	border-top: 0.5em solid #ff7800;
	border-bottom: 0.5em solid #ff7800;
	margin: 30em 0 6em 0;
	text-align: center;
}

.ourToursImageGrid {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

#anotherDaySunriseTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Another-Day-Sunrise-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

#beautifulSunsetTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Beautiful-Sunset-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

#downTownTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Going-Down-Town-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#oldCityTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Old-City-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#romanticAttractionsTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Romantic-Must-See-Attractions-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#scenicMountainTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Scenic-Mountain-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

#roadLessTraveledTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Take-The-Road-Less-Traveled-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#selfieTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Beautiful-Sunset-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#funWithTheKidsShortTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Have-Fun-With-The-Kids-Tour-Short_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}
#funWithTheKidsLongTour {
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
		url(images/The-Always-Have-Fun-With-The-Kids-Tour_sm.jpg);
	background-position: left;
	background-size: cover;
	width: 100%;
	height: 260px;
	margin: 1.5em 0;
	padding-top: 11em;
	border: 0.05em solid #000;
}

/*---------------------------
    Footer Styles 
---------------------------*/

/* Footer */

footer {
	background-color: #ff7800;
	overflow: hidden;
	padding: 0.5em 0;
	margin-top: 15em;
}

footer nav ul {
	list-style: none;
}

#backToTopLink {
	font-size: 1.5em;
	margin-bottom: 5em;
	padding: 1.5em;
}

#backToTopLink a:hover {
	color: #fff;
}

.copyright {
	max-width: 70%;
	line-height: 1.6em;
	padding: 1em 2em 1em 1em;
}

.footerSocialMedia {
	min-width: 30%;
	padding-left: 0.5;
}

.footerBottomLine {
	display: flex;
	justify-content: flex-end;
	max-width: 95%;
}

.footerFlexContainer {
	justify-content: center;
	padding: 2em 1.5em 5em 1.5em;
}

/*---------------------------
    @Media Styles 
---------------------------*/

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 600px) {
	.logo-wrap {
		width: 25%;
	}
	#headerMenu {
		display: none;
	}
	.horisontal-top-menu {
		display: contents;
		width: 50%;
	}
	.horisontal-top-menu ul {
		display: flex;
		flex-flow: row nowrap;
		list-style: none;
		position: absolute;
		top: 1rem;
		right: 3rem;
		width: 40%;
		justify-content: space-between;
		align-items: flex-end;
	}
	.horisontal-top-menu ul li {
		border-left: 1px solid #000000;
		padding-left: 0.5rem;
	}
	.horisontal-main-nav {
		display: contents;
		text-align: center;
	}

	.horisontal-main-nav ul {
		display: flex;
		flex-flow: row nowrap;
		list-style: none;
		position: absolute;
		bottom: 1rem;
		right: 0;
		width: 70%;
		justify-content: space-between;
		align-items: flex-end;
		margin: 0;
		padding: 0;
	}
	.horisontal-main-nav ul li {
		padding-right: 1rem;
	}

	input#navSearchMain {
		margin: 0;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		text-align: center;
		padding: 2em 1.5em 5em 1.5em;
	}
}

/* Tablets - mobile landscape - Styles */

@media screen and (min-width: 800px) {
	header {
		min-height: 220px;
	}

	.logo-img{
		max-width: 200px;
	}

	.horisontal-main-nav ul {
		width: 65%;
		font-size: 1.2rem;
	}
	.horisontal-main-nav ul li {
		padding-right: 1.5rem;

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 2em 1.5em 5em 1.5em;
	}
}

/* Laptop - tablet landscape - Styles */

@media screen and (min-width: 1000px) {
	.logo-wrap {
		left: 4rem;
	}
	.horisontal-top-menu ul {
		width: 30%;
	}

	.horisontal-main-nav ul {
		width: 50%;
		right: 1.5rem;
	}
	.horisontal-main-nav ul li {
		font-size: 1.2rem;
	}

	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 2em 1.5em 5em 1.5em;
	}
}

/* Laptop - Desktop - Styles */

@media screen and (min-width: 1200px) {
	.ourToursImageGrid {
		max-width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1em 1em;
	}

	.footerFlexContainer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		padding: 2em 1.5em 5em 1.5em;
	}
}
